.home-previous {
    position: relative;
    background-color: white;
    padding-bottom: 50px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: -20px;
        right: -20px;
        top: -20px;
        height: 60px;
        transform: rotate(1.5deg);
    }

    &:before {
        z-index: 2;
        opacity: .3;
    }

    &:after {
        z-index: 1;
        background-color: $c-white;
    }
}

.home-previous__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
}

.home-previous__list-container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: $g-gutter;
    z-index: 5;

    &::-webkit-scrollbar {
        display: none;
    }
}

.home-previous__list {
    white-space: nowrap;
    text-align: center;
}

.home-previous__item {
    width: 140px;
    height: 140px;
    display: inline-block;
}

.home-previous__item:first-of-type {
    margin-left: $g-gutter;

    margin-left: $g-gutter;

    @include mq(920px) {
        margin-left: calc((100% - 920px) / 2 + #{$g-gutter});
    }
}