.home-previous {
    position: relative;
    background-color: white;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: -20px;
        right: -20px;
        top: -20px;
        height: 60px;
        transform: rotate(1.5deg);
    }

    &:before {
        z-index: 2;
        opacity: .3;
    }

    &:after {
        z-index: 1;
        background-color: $c-white;
    }
}

.home-previous__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
}