@mixin playlist-layout() {
    @for $i from 1 through 5 {
        &.horizontal--#{$i} {
            margin-left: 3% * $i;
        }
    }

    @for $i from 1 through 4 {
        &.vertical--#{$i} {
            margin-top: -10px * $i;
        }
    }

    &.clear {
        clear: both;
    }
}
