// Typography
$f-sans-serif: "adelle-sans", Helvetica, sans-serif;

// Colours
$c-white: #fff;
$c-grey: #5d656d;
$c-light-grey: #e8e9e8;
$c-black: #333;

$c-light-blue: #9bd5e0;
$c-purple: #c44f85;
$c-mid-grey: #e2e2e2;
$c-blue: #7ecac6;
$c-green: #5db456;
$c-yellow: #e6d35f;
$c-orange: #fc7c62;
$c-purple-grey: #797379;

// Spacing
$g-gutter: 12px;
$g-now-playing: 102px;

// Breakpoints
$mq-breakpoints: (
    mobile:  480px,
    tablet:  740px,
    wide:   1200px
);
