// Typography
$f-sans-serif: "adelle-sans", Helvetica, sans-serif;

// Colours
$c-white: #fff;
$c-grey: #5d656d;
$c-light-grey: #e8e9e8;
$c-black: #333;

$c-purple: #a1749d;
$c-red: #e35157;
$c-green: #33a22b;
$c-yellow: #fb0;
$c-blue: #4bc6df;

// Spacing
$g-gutter: 20px;
$g-now-playing: 72px;

// Breakpoints
$mq-breakpoints: (
    mobile:  480px,
    tablet:  740px,
    wide:   1200px
);
