// Typography
$f-sans-serif: "adelle-sans", Helvetica, sans-serif;

// Colours
$c-white: #fff;
$c-grey: #5d656d;
$c-light-grey: #ccced0;
$c-black: #333;

// Spacing
$g-gutter: 20px;
$g-now-playing: 72px;

// Breakpoints
$mq-breakpoints: (
    mobile:  480px,
    tablet:  740px,
    wide:   1200px
);
