.post-header {
    position: relative;
    z-index: 10;
    padding: $g-gutter;
    background-color: $c-white;

    @include mq(tablet) {
        position: fixed;
        width: 50%;
        min-height: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: -20px;
        right: -20px;
        bottom: -20px;
        height: 60px;
        background-color: inherit;
        transform: rotate(2deg);

        @include mq(tablet) {
            top: -20px;
            left: auto;
            right: -20px;
            bottom: -20px;
            height: auto;
            width: 60px;
        }
    }

    .post-header__block {
        @include mq($until: tablet) {
            margin-top: 40px;
        }

        @include mq(tablet) {
            position: absolute;
            top: 24%;
            left: 0;
            right: 0;
        }
    }

    .logo {
        position: absolute;
        text-align: center;
        color: $c-white;
        right: $g-gutter + 6px;
        top: $g-gutter;
        z-index: 2;
        transform: scale(.6);
        transform-origin: top right;
        opacity: .8;

        @include mq(tablet) {
            right: 0px;
        }

        @include mq(wide) {
            transform: none;
        }

        &:hover {
            opacity: 1;
        }
    }

    .logo__monthly {
        font-size: 40px;
    }

    .logo__mix {
        font-size: 104px;
        letter-spacing: -7px;
    }

    .post-title {
        max-height: 400px;

        @include mq(tablet) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .post-title svg {
        max-height: 400px;

        @include mq(tablet) {
            display: block;
            margin: 0 auto;
            max-height: none;
            height: calc(100vh - #{$g-now-playing + $g-gutter * 5});
            max-width: 100%;
        }
    }

    .is-light & {
        .logo {
            color: $c-black;
        }

        .post-title svg path {
            fill: $c-black;
        }
    }
}

.post-title {
    .year {
        display: none;
    }
}

@for $i from 2015 through 2018 {
    .post-title--#{$i} {
        .year--#{$i} {
            display: block;
        }
    }
}

.post-header__navigation {
    display: flex;
    align-items: center;
    margin-top: $g-gutter;
    bottom: $g-now-playing;
    width: calc(100% - (#{$g-gutter * 2})); // there's probably a cleaner way of doing this

    @include mq(tablet) {
        position: absolute;
    }

    .sign-up__container,
    .spotify__link {
        margin-right: $g-gutter;
    }

    .sign-up__container {
        flex-grow: 2;
    }

    .spotify--light,
    .soundcloud--light {
        display: none;
    }

    .is-light & {
        .spotify,
        .soundcloud {
            display: none;
        }

        .spotify--light,
        .soundcloud--light {
            display: block;
        }
    }
}
