.container {
    position: relative;
    z-index: 10;
    padding: 0 $g-gutter;
    margin: 0 auto;

    @include mq(tablet) {
        max-width: 920px;
    }
}

.home__title {
    font-size: 24px;
    font-weight: bold;
}

@import 'home/header';
@import 'home/recent';