.sign-up {
    @include flex-display;
    @include justify-content(space-between);
}

.sign-up__input {
    -webkit-appearance: none;
    margin-right: 2px;
    border: 1px solid $c-light-grey;
    padding: 5px 10px;
    border-radius: 0;
    color: $c-light-grey;
    @include flex(1);
    @include flex-basis(75%);

    &.is-focused {
        border-color: $c-white;
        color: $c-white;
        outline: none;
    }
}

.sign-up__button {
    -webkit-appearance: none;
    border: 2px solid $c-black;
    border-radius: 0;
    padding: 4px 9px;
    color: $c-black;
    font-weight: bold;
    @include flex(1);
    cursor: pointer;
}
