$c-white: #ffffff;
$c-light-grey: #e7e7e7;
$c-dark-grey: #343434;
$c-black: #292929;

$c-indigo: #4c20c9;
$c-blue: #0d0df4;
$c-light-blue: #1a9ef2;
$c-aqua: #66e0c8;
$c-mint: #19e479;
$c-green: #b6df12;
$c-yellow: #ffc333;
$c-orange: #e6711b;
$c-red: #d8192b;
$c-pink: #e6256c;
$c-light-pink: #e4a4bb;
$c-purple: #8b14a1;

@function hover($color) {
    $hoverColor: darken($color, 5%);
    @return $hoverColor;
}
