$c-white: #fff;
$c-black: #222;
$c-grey: #ccc;

$c-light-blue: #9bd5e0;
$c-purple: #c44f85;
$c-mid-grey: #e2e2e2;
$c-blue: #7ecac6;
$c-green: #5db456;
$c-yellow: #e6d35f;
$c-orange: #fc7c62;
$c-purple-grey: #797379;
