$c-white: #eee;
$c-black: #222;
$c-grey: #ccc;

$c-orange: #e6711b;
$c-green: #19e479;
$c-yellow: #f4e628;
$c-purple: #4c20c9;
$c-blue: #009cf5;
$c-pink: #e4a4bb;
$c-mint: #66e0c8;
$c-red: #d8192b;
$c-hot-pink: #e6256c;
$c-lime: #80ce1b;

@mixin randomBackground() {
    .purple & {
        background-color: $c-purple;
    }

    .blue & {
        background-color: $c-blue;
    }

    .green & {
        background-color: $c-green;
    }

    .yellow & {
        background-color: $c-yellow;
    }

    .orange & {
        background-color: $c-orange;
    }

    .pink & {
        background-color: $c-pink;
    }

    .mint & {
        background-color: $c-mint;
    }

    .red & {
        background-color: $c-red;
    }

    .hot-pink & {
        background-color: $c-hot-pink;
    }

    .lime & {
        background-color: $c-lime;
    }
}

@mixin archiveColors() {
    &.purple {
        background-color: $c-purple;
    }

    &.blue {
        background-color: $c-blue;
    }

    &.green {
        background-color: $c-green;
    }

    &.yellow {
        background-color: $c-yellow;
    }

    &.orange {
        background-color: $c-orange;
    }

    &.pink {
        background-color: $c-pink;
    }

    &.mint {
        background-color: $c-mint;
    }

    &.red {
        background-color: $c-red;
    }

    &.hot-pink {
        background-color: $c-hot-pink;
    }

    &.lime {
        background-color: $c-lime;
    }
}

@mixin randomColor() {
    .purple & {
        color: $c-purple;
    }

    .blue & {
        color: $c-blue;
    }

    .green & {
        color: $c-green;
    }

    .yellow & {
        color: $c-yellow;
    }

    .orange & {
        color: $c-orange;
    }

    .pink & {
        color: $c-pink;
    }

    .mint & {
        color: $c-mint;
    }

    .red & {
        color: $c-red;
    }

    .hot-pink & {
        color: $c-hot-pink;
    }

    .lime & {
        color: $c-lime;
    }
}

@mixin randomBorder() {
    .purple & {
        border-color: $c-purple;
    }

    .blue & {
        border-color: $c-blue;
    }

    .green & {
        border-color: $c-green;
    }

    .yellow & {
        border-color: $c-yellow;
    }

    .orange & {
        border-color: $c-orange;
    }

    .pink & {
        border-color: $c-pink;
    }

    .mint & {
        border-color: $c-mint;
    }

    .red & {
        border-color: $c-red;
    }

    .hot-pink & {
        border-color: $c-hot-pink;
    }

    .lime & {
        border-color: $c-lime;
    }
}
