<div class='archive'>
    <div class='archive__playlists-wrapper'>
        <ul class='archive__playlists'>
            {{#each archive}}
                <li class='archive__playlist'>
                    <a class='archive__playlist-link' href='/{{ handlise year }}/{{ handlise month }}'>
                        <div class='archive__playlist-title'>{{{ charactersInForArchive month }}}<br />{{{ charactersInForArchive year }}}</div>
                    </a>
                    <div class='archive__playlist-filter {{ handlise month }}'></div>
                    <img class='archive__playlist-image' src='{{ thumbnail }}' />
                </li>
            {{/each}}
        </ul>
    </div>
</div>
