<div class='controls'>
    <div class='controls__play js-play'>
        <div class='controls__play-icon controls__play-icon--play'>
            <img class='controls__play-image' src='/assets/images/play.svg' />
        </div>
        <div class='controls__play-icon controls__play-icon--pause'>
            <img class='controls__play-image' src='/assets/images/pause.svg' />
        </div>
    </div>
    <div class='controls__track'>
        <div class='controls__track-info'>
            <h2 class='controls__track-artist'>Artist</h2>
            <h2 class='controls__track-title'>Title</h2>
        </div>
        <img class='controls__track-image' src='/assets/images/play-grey.svg' />
        <select class='controls__track-list js-track-list'>
            {{#each tracks}}
                <option value='{{ id }}' data-artist='{{ artist }}' data-title='{{ title }}'>{{ artist }} - {{ title }}</option>
            {{/each }}
        </select>
    </div>
    <div class='controls__skip'>
        <div class='controls__skip-prev js-prev'>
            <img class='controls__skip-image' src='/assets/images/prev.svg' />
        </div>
        <div class='controls__skip-next js-next'>
            <img class='controls__skip-image' src='/assets/images/next.svg' />
        </div>
    </div>
    <div class='controls__subscribe'>
        <h3 class='controls__subscribe-label'>Subscribe</h3>
    </div>
    <div class='controls__archive'>
        <h3 class='controls__archive-label'>Archive</h3>
    </div>
</div>