<div class='controls'>
    <div class='controls__play js-play'>
        <div class='controls__play-icon controls__play-icon--play'>
                {{> icons/play }}
        </div>
        <div class='controls__play-icon controls__play-icon--pause'>
                {{> icons/pause }}
        </div>
    </div>
    <div class='controls__track'>
        <div class='controls__track-display js-tracklist'>
            <div class='controls__progress'>
                <div class='controls__progression'></div>
            </div>
            <div class='controls__track-info'>
                <h2 class='controls__track-artist'>Artist</h2>
                <h2 class='controls__track-title'>Title</h2>
            </div>
            <div class='controls__track-image'>
                {{> icons/play }}
            </div>
        </div>
        <select class='controls__select js-select'>
            {{#each tracks}}
                <option value='{{ id }}' data-artist='{{ artist }}' data-title='{{ title }}'>{{ artist }} - {{ title }}</option>
            {{/each }}
        </select>
        <ul class='controls__tracklist'>
            {{#each tracks}}
                <li class='controls__tracklist-track js-track' data-id='{{ id }}' itemprop='track' itemscope itemtype='http://schema.org/MusicRecording'>
                    <div class='controls__tracklist-playing'>
                        {{> icons/play }}
                    </div>
                    <h2 class='controls__tracklist-number'>{{ inc @index }}</h2>
                    <h2 class='controls__tracklist-artist' itemprop='artist'>{{ artist }}</h2>
                    <h2 class='controls__tracklist-title' itemprop='name'>{{ title }}</h2>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class='controls__skip'>
        <div class='controls__skip-prev js-prev'>
            {{> icons/prev }}
        </div>
        <div class='controls__skip-next js-next'>
            {{> icons/next }}
        </div>
    </div>
    <div class='controls__subscribe js-subscribe'>
        <h3 class='controls__subscribe-label'>Subscribe</h3>
    </div>
    <div class='controls__archive js-archive'>
        <h3 class='controls__archive-label'>Archive</h3>
    </div>
</div>