<div class='cover__bg'></div>
<div class='cover'>
    <div class='cover__content'>
        <h1 class='cover__title'>
            <span class='is-movable cover__letter'>M</span>
            <span class='is-movable cover__letter'>A</span>
            <span class='is-movable cover__letter'>Y</span>
            <span class='is-movable cover__letter'>M</span>
            <span class='is-movable cover__letter'>A</span>
            <span class='is-movable cover__letter'>Y</span>
            <span class='is-movable cover__letter'>M</span>
            <span class='is-movable cover__letter'>A</span>
            <span class='is-movable cover__letter'>Y</span>
            <span class='is-movable cover__letter'>M</span>
            <span class='is-movable cover__letter'>A</span>
            <span class='is-movable cover__letter'>Y</span>
        </h1>
    </div>
</div>