<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The best new music by {{#each (limit tracks 3)}}{{ artist }}, {{/each}}and more – Monthly Mix for {{ title }}</title>
    <meta name="description" content="A playlist of the best new music from {{ title }}. Featuring new tracks by {{#each tracks}}{{ artist }}, {{/each}}and more">

    <!-- Styles -->
    <link rel="stylesheet" href="https://use.typekit.net/tiu5deg.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="/assets/images/favicon--{{ colour }}.png" />
</head>