<div class='playlist' data-id='{{ id }}'>
    {{> templates/partials/playlist-header }}

    <ul class='tracks' itemscope itemtype='http://schema.org/MusicPlaylist'>
        <meta itemprop='name' content='The best new music from {{ title }}' />
        <meta itemprop='numTracks' content='{{len tracks}}'/>
    {{#each tracks}}
        <li class='track track--{{ randomButton }}' data-id='{{ id }}' itemprop='track' itemscope itemtype='http://schema.org/MusicRecording'>
            <h2 class='track__number'>{{inc @index }}</h2>
            <h2 class='track__artist' itemprop='byArtist'>{{ artist }}</h2>
            <h2 class='track__title' itemprop='name'>{{ title }}</h2>
        </li>
    {{/each}}
    </ul>
</div>
<div class='playlist__hide-button'>
    <div class='button button--{{ randomButton }}'>Hide Tracklist</div>
</div>

<div class='play-button button'>Play</div>

<a class='playlist__youtube-button button button--{{ randomButton }}' href='' target='_blank'>YouTube</a>
