<div class='playlist' data-id='{{ id }}'>
    {{> templates/partials/playlist-header }}

    <ul class='tracks'>
    {{#each tracks}}
        <li class='track track--{{ randomButton }}' data-id='{{ id }}'>
            <h2 class='track__number'>{{inc @index }}</h2>
            <h2 class='track__artist'>{{ artist }}</h2>
            <h2 class='track__title'>{{ title }}</h2>
        </li>
    {{/each}}
    </ul>
</div>
<div class='playlist__hide-button'>
    <div class='button button--{{ randomButton }}'>Hide Tracklist</div>
</div>
<div class='controls'>
    <div class='controls__play-button button button--{{ randomButton }}'>Pause</div>
    <div class='controls__mute-button is-muted button button--{{ randomButton }}'>Unmute</div>
</div>
<a class='playlist__youtube-button button button--{{ randomButton }}' href='' target='_blank'>YouTube</a>
