<div class='playlist-header'>
    <h1 class='playlist-header__intro'>The latest music from the month of&hellip; <span class='playlist-header__seo-hidden'>{{ title }}</span></h1>
    <img class='playlist-header__title' src='/assets/images/titles/{{ handle }}.svg' />

    <div class='playlist-header__links'>
        Or listen on...
        <a href='' target='_blank' class='playlist-header__link button'>Spotify</a>
        <a href='https://www.youtube.com/playlist?list={{ id }}' target='_blank' class='playlist-header__link button'>YouTube</a>
    </div>
</div>
