---
layout: default
---
<div class="post">
    <div class="post-header">
        <h1 class="post-title title">Playlist for {{ page.title }} {{ page.date | date: "%Y" }}</h1>
        <div class="controls">
            <div class="controls-audio input sub">Play</div>
            <div class="controls-soundcloud input sub">Open in Soundcloud</div>
        </div>
    </div>

    <article class="post-content">
        <ul class="playlist">
        {% assign playlist = page.soundcloud | split: '/' %}
        {% for track in site.data.[playlist.last] %}
            <li class="track" id="track-{{ track.id }}" data-track-id="{{ track.id }}">
                <div class="track__info" style="background-color: {{ track.color }};">
                    <span class="track__artist title">{{ track.artist }}</span><br />
                    <span class="track__title title">{{ track.title }}</span><br />
                    <a class="track__permalink" href="{{ track.permalink }}">Soundcloud it</a>
                </div>
                <img class="track__artwork" src="/{{ track.artwork }}" />
            </li>
        {% endfor %}
        </ul>
    </article>
</div>
