---
layout: default
---
<div class="post" data-state="is-stopped">
    <article class="post-content">
        <ul class="playlist">
        {% assign playlist = page.soundcloud | split: '/' %}
        {% for track in site.data.[playlist.last] %}
            <li class="playlist__entry" id="playlist__entry--{{ track.id }}" data-track-id="{{ track.id }}" data-track-contrast="{{ track.contrast }}">
                <div class="playlist__entry__info {{ track.contrast }}" style="background-color: {{ track.color }};">
                    <span class="playlist__entry__artist track__artist title">{{ track.artist }}</span><br />
                    <span class="playlist__entry__title track__title title">{{ track.title }}</span><br />
                    <a class="playlist__entry__permalink" href="{{ track.permalink }}">Soundcloud it</a>
                </div>
                <img class="playlist__entry__artwork" src="/{{ track.artwork }}" />
            </li>
        {% endfor %}
        </ul>
    </article>
</div>

<div class="controls">
    <h1 class="controls__title title">
        <span class="controls__title__track-artist track__artist">Track Artist</span>
        <span class="controls__title__track-title track__title">Track Title</span>
    </h1>
    <div class="controls__buttons">
        <div class="audio-controls input sub">
            <span class="audio-controls__pause">Pause</span>
            <span class="audio-controls__play">Play</span>
        </div>
        <div class="controls__buttons__skip input sub">Skip</div>
        <div class="controls__buttons__soundcloud input sub">Open in Soundcloud</div>
    </div>
</div>
