---
layout: default
---
{% assign playlist = page.soundcloud | split: '/' %}

<header class="post-header" style="background-color: {{ site.data.[playlist.last].first().color }};">
    {% include logo.html %}
<!--     <h2 class="post-title super-title">{{ page.title }} {{ page.date | date: "%Y" }}</h2> -->
    <div class="post-title post-title--{{ page.date | date: '%Y' }}">
        {% svg titles/august %}
    </div>
    <div class="post-header__navigation">
        {% include sign-up.html %}
        {% if page.spotify %}
        <a class="spotify__link" href="{{ page.spotify }}">
            <img class="spotify" src="{{ site.baseurl }}/assets/images/spotify--dark.png" />
            <img class="spotify--light" src="{{ site.baseurl }}/assets/images/spotify--light.png" />
        {% endif %}
        <a class="soundcloud__link" href="{{ page.soundcloud }}">
            <img class="soundcloud" src="{{ site.baseurl }}/assets/images/soundcloud--dark.png" />
            <img class="soundcloud--light" src="{{ site.baseurl }}/assets/images/soundcloud--light.png" />
        </a>
    </div>
</header>

<div class="post">
    <article class="post-content">
        <ul class="playlist">
        {% for track in site.data.[playlist.last] %}
            <li class="playlist__entry {% layoutclasses %}" id="track--{{ track.id }}" data-track-id="{{ track.id }}" data-track-contrast="{{ track.contrast }}" data-track-permalink="{{ track.permalink }}">
                <div class="playlist__entry__info {{ track.contrast }}" style="background-color: {{ track.color }};">
                    <span class="playlist__entry__artist track__artist title">{{ track.artist }}</span><br />
                    <span class="playlist__entry__title track__title title">{{ track.title }}</span><br />
                </div>
                <img class="playlist__entry__artwork" src="/{{ track.artwork }}" />
            </li>
        {% endfor %}
        </ul>
    </article>
</div>

<div class="controls controls--active is-default">
    <div class="progress-bar"></div>
    <h1 class="controls__title title">
        <span class="controls__title__track-artist track__artist"></span>
        <span class="controls__title__track-title track__title">{{ page.title }} {{ page.date | date: "%Y" }}</span>
    </h1>
    <div class="controls__buttons">
        <div class="audio-controls input sub">
            <span class="audio-controls__pause">{% svg icon-pause %} <span class="controls__tablet-label">Pause</span></span>
            <span class="audio-controls__play">{% svg icon-play %} <span class="controls__tablet-label">Play</span></span>
        </div>
        <div class="controls__buttons__skip input sub">{% svg icon-skip %} <span class="controls__tablet-label">Skip</span></div>
        <div class="controls__buttons__soundcloud input sub"><a target="_blank"><span class="controls__tablet-label">Open in</span> Soundcloud</a></div>
    </div>
</div>

<div class="controls controls--next is-default">
    <div class="progress-bar"></div>
    <h1 class="controls__title title">
        <span class="controls__title__track-artist track__artist"></span>
        <span class="controls__title__track-title track__title">{{ page.title }} {{ page.date | date: "%Y" }}</span>
    </h1>
    <div class="controls__buttons">
        <div class="audio-controls input sub">
            <span class="audio-controls__pause">{% svg icon-pause %} <span class="controls__tablet-label">Pause</span></span>
            <span class="audio-controls__play">{% svg icon-play %} <span class="controls__tablet-label">Play</span></span>
        </div>
        <div class="controls__buttons__skip input sub">{% svg icon-skip %} <span class="controls__tablet-label">Skip</span></div>
        <div class="controls__buttons__soundcloud input sub"><a target="_blank"><span class="controls__tablet-label">Open in</span> Soundcloud</a></div>
    </div>
</div>

<audio class="audio-player"/>
