<div class="home-previous">
    <div class="container">
        <h2 class="home__title">Archives</h2>
    </div>
    <div class="home-previous__list-container">
        <ul class="home-previous__list">
            {% for post in site.posts %}
                {% assign playlist = post.soundcloud | split: '/' %}
                <li class="home-previous__item" {% for track in site.data.[playlist.last] limit:1 %}style="background-color: {{track.color}}"{% endfor %}>
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <div class="post-title post-title--{{ post.date | date: '%Y' }}">
                            {% assign path = post.title | downcase | prepend: 'titles/' %}
                            {% svg path %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
