{% assign post = site.posts.first %}
{% assign playlist = post.soundcloud | split: '/' %}

{% for track in site.data.[playlist.last] limit:1 %}
<div class="home-recent {{track.contrast}}" style="background-color: {{track.color}}">
{% endfor %}
    <div class="container">
        <h2 class="home__title home-recent__title">The latest music from</h2>
        <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="post-title post-title--{{ post.date | date: '%Y' }}">
                {% assign path = post.title | downcase | prepend: 'titles/' %}
                {% svg path %}
            </div>
        </a>
    </div>
    <div class="home-recent__covers">
        {% for track in site.data.[playlist.last] limit:8 %}
            <img src="{{ track.artwork }}" class="home-recent__cover"/>
        {% endfor %}
    </div>
</div>