{% assign playlist = post.soundcloud | split: '/' %}
<a href="{{ post.url | prepend: site.baseurl }}">
    <p class="home-playlists__time sub">
        {% assign duration = 0 %}
        {% for track in site.data.[playlist.last] %}
        {% assign duration = duration | plus: track.duration %}
        {% endfor %}
        {% totalduration duration %}
    </p>
    <h3 class="home-playlists__title title">{{ post.title }}</h3>
    <p class="home-playlists__description sub">Featuring
        {% for track in site.data.[playlist.last] limit:5 %}
            {{ track.artist }}{% if forloop.index != 5 %},{% endif %}
        {% endfor %}
        and {{ site.data.[playlist.last].size | minus: 5}} others.
    </p>
</a>
