---
layout: default
---
<header class="header--home header">
    <div class="container">
        {% include navigation.html %}
    </div>
</header>

<div class="home">
    <div class="home-header">
        <div class="container">
            <h1 class="home-header__title super-title">Monthly Mix</h1>
            <h3 class="home-header__tagline sub">Going to loud places to search for someone</h3>
        </div>
    </div>

    <div id="playlists" class="home-playlists">
        <div class="container">
            <h2 class="home-title home-title--playlists title">Playlists</h2>
            <hr />
            <ul class="home-playlists__list">
                {% for post in site.posts %}
                {% assign playlist = post.soundcloud | split: '/' %}
                <li class="home-playlists__item">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <p class="home-playlists__time sub">
                            {% assign duration = 0 %}
                            {% for track in site.data.[playlist.last] %}
                            {% assign duration = duration | plus: track.duration %}
                            {% endfor %}
                            {% totalduration duration %}
                        </p>
                        <h3 class="home-playlists__title title">{{ post.title }}</h3>
                        <p class="home-playlists__description sub">Featuring
                            {% for track in site.data.[playlist.last] limit:5 %}
                                {{ track.artist }}{% if forloop.index != 5 %},{% endif %}
                            {% endfor %}
                            and {{ site.data.[playlist.last].size | minus: 5}} others.
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="subscribe" class="home-subscribe">
        <div class="container">
            <h2 class="home-title home-title--subscribe title">Subscribe</h2>
            <form method="post" action="URL">
                <input class="home-subscribe__input" type="text" name="email" value="Your email address"/>
                <input class="home-subscribe__button" type="submit" name="submit" value="Subscribe" />
            </form>
        </div>
    </div>

    <hr class="container" />

    <div id="about" class="home-about">
        <div class="container">
            <h2 class="home-title home-title--about title">About</h2>
            <div class="home-about__body">
                <p><strong>Here's an example of a question as part of the About page?</strong> Here's where the answer would go if I had an actual question this part is probably a little longer than the actual quesiton though which is why I'm still typing nonsense.</p>
                <p><strong>Here's an example of a question as part of the About page?</strong> Here's where the answer would go if I had an actual question this part is probably a little longer than the actual quesiton though which is why I'm still typing nonsense.</p>
                <p><strong>Here's an example of a question as part of the About page?</strong> Here's where the answer would go if I had an actual question this part is probably a little longer than the actual quesiton though which is why I'm still typing nonsense.</p>
                <p><strong>Here's an example of a question as part of the About page?</strong> Here's where the answer would go if I had an actual question this part is probably a little longer than the actual quesiton though which is why I'm still typing nonsense.</p>
                <p><strong>Here's an example of a question as part of the About page?</strong> Here's where the answer would go if I had an actual question this part is probably a little longer than the actual quesiton though which is why I'm still typing nonsense.</p>
            </div>
        </div>
    </div>
</div>
