.archive {
    position: relative;
    z-index: 4;
    background-color: $c-black;
    overflow: scroll;
    max-height: 0;
    transition: max-height 0.01s linear;
    transition-delay: 0.2s;

    .is-archiving & {
        max-height: 40vw;
        transition-delay: 0s;

        @include mq(tablet) {
            max-height: 20vw;
        }
    }
}

.archive__static {
    margin: 1vw;
    display: flex;
    justify-content: space-between;
}

.archive__title,
.archive__close {
    margin: 0;
} 

.archive__playlists-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.archive__playlists {
    margin: 3vw;
    padding: 0;
    list-style: none;
    display: flex;
    width: fit-content;

    @include mq(tablet) {
        margin: 1vw;
    }
}

.archive__playlist {
    position: relative;
    width: 25vw;
    height: 25vw;
    margin-right: 3vw;
    flex-shrink: 0;
    overflow: hidden;

    @include mq(tablet) {
        width: 10vw;
        height: 10vw;
        margin-right: 1vw;
    }
}

.archive__playlist-link {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5vw;
    box-sizing: border-box;
}

.archive__playlist-title {
    color: $c-white;
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 1.2;
    letter-spacing: 0.2vw;

    @include mq(tablet) {
        font-size: 1.2vw;
    }

    .letter {
        display: inline-block;
    }

    @for $i from 0 through 9 {
        .letter--#{$i} {
            transform: rotate(-20deg + ($i * 4));
        }
    }
}

.archive__playlist-filter {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.archive__playlist-image {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -10vw;
    right: -10vw;
    margin: auto;
    filter: grayscale(1) brightness(1.5);
}