body {
    margin: 0;
    padding: 0;
    font-family: 'adelle-sans', sans-serif;
    font-weight: bold;
    background-color: $c-black;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}