.cover {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100vh;
    margin-bottom: 100vh;
}

.cover canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
}

.cover__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: $c-white;
    text-transform: capitalize;
}

.cover__content {
    padding: 50px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cover__intro {
    margin: 0;
    font-size: 2.5vw;
    float: right;
    display: inline-block;
}

.cover__title {
    text-align: center;
}

.cover__letter {
    display: inline-block;
    line-height: 0.9;
    letter-spacing: -1vw;

    .cover--3 &,
    .cover--4 &,
    .cover--5 & {
        font-size: 28vw;
    }

    .cover--6 & {
        font-size: 22vw;
    }

    .cover--7 & {
        font-size: 19vw;
    }

    .cover--8 & {
        font-size: 17vw;
    }

    .cover--9 & {
        font-size: 16vw;
    }
}

.cover__play {
    background-color: $c-white;
    float: left;
    display: flex;
    width: fit-content;
}

.cover__play-icon {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: $c-black;
}

.cover__play-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 28px;
    height: 28px;
}

.cover__play-label {
    margin: 0;
    color: $c-black;
    padding: 8px;
    display: inline-block;
}

.cover__featuring {
    font-size: 2.5vw;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
}

.cover__featuring--intro {
    color: $c-black;
}

.cover__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    mix-blend-mode: multiply;
    background-color: $c-blue;
}
