.cover {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100vh;
    margin-bottom: 100vh;
}

.cover canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
}

.cover__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: $c-white;
    text-transform: capitalize;
}

.cover__content {
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: 100px 200px;
}

.cover__intro {
    margin: 0;
    font-size: 20px;
    float: right;
    display: inline-block;
}

.cover__title {
    text-align: center;
}

.cover__letter {
    font-size: 15vw;
    display: inline-block;
    line-height: 0.9;
    letter-spacing: -1vw;
}

.cover__play {
    background-color: $c-white;
    display: flex;
    width: fit-content;
}

.cover__play-icon {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: $c-black;
}

.cover__play-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 28px;
    height: 28px;
}

.cover__play-label {
    margin: 0;
    color: $c-black;
    padding: 8px;
    display: inline-block;
}

.cover__featuring {
    font-size: 20px;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
}

.cover__featuring--intro {
    color: $c-black;
}

.cover__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    mix-blend-mode: multiply;
    background-color: $c-blue;
}
