.cover {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100vh;
    margin-bottom: 100vh;
}

.cover canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
}

.cover__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: $c-white;
    text-transform: capitalize;
}

.cover__content {
    padding: 50px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.6);
    opacity: 0;

    .is-ready & {
        transform: scale(1);
        opacity: 1;
    }
}

.cover__intro {
    margin: 0;
    font-size: 2vw;
    float: right;
    display: inline-block;
}

.cover__title {
    text-align: center;
    margin: auto;
}

.cover__letter {
    display: inline-block;
    line-height: 0.8;
    letter-spacing: -0.5vw;
    padding: 4px;

    .cover--3 &,
    .cover--4 &,
    .cover--5 & {
        font-size: 20vw;
    }

    .cover--6 & {
        font-size: 18vw;
    }

    .cover--7 & {
        font-size: 16vw;
    }

    .cover--8 & {
        font-size: 15vw;
    }

    .cover--9 & {
        font-size: 13vw;
    }
}

.cover__play {
    background-color: $c-white;
    float: left;
    display: flex;
    width: fit-content;
    margin: 4px;
}

.cover__play-icon {
    padding: 1.2vw;
    background-color: $c-black;
}

.cover__play-image {
    width: 2vw;
    display: block;
}

.cover__play-label {
    margin: 0;
    font-size: 2vw;
    color: $c-black;
    padding: 8px 16px;
    display: inline-block;
}

.cover__featuring {
    font-size: 2vw;
    white-space: nowrap;
    margin: 0;
    padding: 4px;
    display: inline-block;
}

.cover__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    mix-blend-mode: multiply;
    background-color: $c-blue;
}
