.logo {
    position: fixed;
    z-index: 5;
    top: 2vw;
    left: 3vw;
    text-transform: uppercase;

    @include mq(tablet) {
        top: 1vw;
        left: 2vw;
    }
}

.logo__link {
    color: $c-white;
}

.logo__monthly {
    transform: rotate(-10deg);
    display: inline-block;
}

.logo__letter {
    font-size: 9.5vw;
    line-height: 1;
    animation: 2s cubic-bezier(0.75, 0.75, 0.35, 1.6) infinite;
    animation-play-state: paused;
    display: inline-block;

    .is-playing & {
        animation-play-state: running;
    }

    @include mq(tablet) {
        font-size: 4.8vw;
    }

    &--m {
        animation-name: letter-m;
        animation-delay: -1.4s;
        margin-left: 0.6vw;
    }

    &--i {
        animation-name: letter-i;
        animation-delay: -1.2s;
        margin-left: 0.3vw;
    }

    &--x {
        animation-name: letter-x;
        animation-delay: -1s;
    }
}

@keyframes letter-m {
    0%, 40%, 100% {
        transform: rotate(-15deg) translateY(10%);
    }
    20% {
        transform: rotate(-15deg) translateY(0%);
    }
}


@keyframes letter-i {
    0%, 40%, 100% {
        transform: rotate(3deg) translateY(12%);
    }
    20% {
        transform: rotate(3deg) translateY(2%);
    }
}

@keyframes letter-x {
    0%, 40%, 100% {
        transform: rotate(-6deg) translateY(-6%);
    }
    20% {
        transform: rotate(-6deg) translateY(-16%);
    }
}
