.logo {
    position: fixed;
    z-index: 5;
    top: 4vw;
    left: 4vw;

    @include mq(tablet) {
        top: 2vw;
        left: 2vw;
    }
}

.logo__link {
    color: $c-white;
}

.logo__image {
    width: 20vw;

    @include mq(tablet) {
        width: 10vw;
    }
}