$months: (
    'january': $c-blue,
    'february': $c-light-blue,
    'march': $c-aqua,
    'april': $c-mint,
    'may': $c-green,
    'june': $c-yellow,
    'july': $c-orange,
    'august': $c-red,
    'september': $c-pink,
    'october': $c-light-pink,
    'november': $c-purple,
    'december': $c-indigo
);


@each $month, $color in $months {
    .#{$month} {
        .controls__tracklist-artist,
        .controls__track-artist,
        .cover__play-label {
            color: $color;
        }

        .controls__play,
        .controls__progression,
        .cover__bg,
        .cover__play-icon,
        .subscribe__form-button,
        &.archive__playlist-filter {
            background-color: $color;
        }
    }
}