.navigation {
    margin-top: 0px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(0, 0);
    transition: transform 0.3s linear, max-height 0.15s linear;
    max-height: 24vw;

    @include mq(tablet) {
        max-height: 7vw;
    }

    .is-cover & {
        transform: translate(0, 102%);
    }

    .is-archiving & {
        max-height: 56vw;

        @include mq(tablet) {
            max-height: 19vw;
        }
    }

    .is-subscribing & {
        max-height: 56vw;

        @include mq(tablet) {
            max-height: 20vw;
        }
    }

    &.is-hidden {
        @include mq(tablet) {
            transform: translate(0, 100%);
        }
    }
}