.subscribe {
    position: relative;
    z-index: 5;
    background-color: $c-dark-grey;
    padding: 2vw;

    @include mq(desktop) {
        display: flex;
        align-items: center;
        padding: 1vw;
    }
}

.subscribe__copy {
    color: $c-white;
    margin: 0;

    @include mq(desktop) {
        width: 65%;
    }
}

.subscribe__form-content {
    display: flex;

    @include mq($until: tablet) {
        margin: 2vw 0;
    }
}

.subscribe__form-input {
    font-weight: bold;
    font-family: 'adelle-sans';
    border: 0;
    padding: 1vw 2vw;
    color: rgba($c-dark-grey, 0.5);
    outline: none;

    @include mq(tablet) {
        padding: 0.5vw 1vw;
    }

    &.is-focused {
        color: $c-black;
    }
}

.subscribe__form-button {
    -webkit-appearance: none;
    font-weight: bold;
    font-family: 'adelle-sans';
    padding: 1vw 2vw;
    border: 0;
    color: $c-white;

    @include mq(tablet) {
        padding: 0.5vw 1vw;
    }
}