.video {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.video-player {
    pointer-events: none;
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    height: calc(100% + 340px);
    // height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
    // filter: grayscale(1);
}
