* {
    @include box-sizing(border-box);
}

html {
    font-family: $f-sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: $c-black;

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border: 0;
    border-top: 1px solid $c-light-grey;
}

.super-title {
    font-size: 2.4rem;
    line-height: 3.2rem;

    @include mq(mobile) {
        font-size: 6.2rem;
        line-height: 7rem;
    }
}

.title {
    font-size: 1.6rem;
    line-height: 2rem;

    @include mq(mobile) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

.sub {
    font-size: 1.2rem;
    line-height: 1.8rem;

    @include mq(mobile) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

.input {
    display: inline-block;
    border: 2px solid $c-white;
    padding: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6px;

    &:hover {
        background-color: $c-white;
        color: $c-black;

        svg path {
            fill: $c-black;
        }
    }
}

.is-changable {
    @include transition(color 1s);
}
