* {
    @include box-sizing(border-box);
}

html {
    font-family: $f-sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.title {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.sub {
    font-size: 1.6rem;
    line-height: 2rem;
}

hr {
    border: 0;
    border-top: 1px solid $c-light-grey;
}
