* {
    @include box-sizing(border-box);
}

html {
    font-family: $f-sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border: 0;
    border-top: 1px solid $c-light-grey;
}

.title {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.sub {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.input {
    display: inline-block;
    border: 2px solid $c-white;
    padding: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6px;

    &:hover {
        background-color: $c-white;
        color: $c-black;
    }
}
