.controls {
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
    padding: $g-gutter;
    background-color: $c-black;
    color: $c-white;
    // @include transition(color 0.5s, background-color 0.5s, fill 0.5s);

    a {
        color: $c-white;

        &:hover {
            color: $c-black;
            text-decoration: none;
        }
    }

    .input,
    svg path {
        user-select: none;
        // @include transition(color 0.5s, background-color 0.5s, fill 0.5s);
    }

    .input {
        &:hover {
            background-color: $c-white !important;
        }
    }

    &.is-light {
        color: $c-black;

        a {
            color: $c-black;
        }

        .input {
            border-color: $c-black;

            &:hover {
                color: $c-white;
                background-color: $c-black !important;

                svg path {
                    fill: $c-white;
                }
            }

            a:hover {
                color: $c-white;
            }
        }

        svg path {
            fill: $c-black;
        }
    }

    &.is-default {
        .controls__title__track-title {
            color: $c-light-grey;
        }

        .controls__buttons__skip,
        .controls__buttons__soundcloud {
            opacity: .2;
            
            &:hover {
                background-color: $c-black;
                color: $c-white;
                cursor: default;
            }
        }

        .controls__buttons__skip {
            &:hover {
                svg path {
                    fill: $c-white;
                }
            }
        }

        .controls__buttons__soundcloud {
            a:hover {
                color: $c-white;
            }
        }
    }

    svg {
        height: 1em;
        width: 1em;
        margin-bottom: -.1em;

        @include mq(tablet) {
            margin-right: .2em;
        }

        path {
            fill: $c-white;
        }
    }
}

.controls__buttons {
    position: relative;
    z-index: 20;

    @include mq(tablet) {
        position: absolute;
        z-index: 20;
        right: $g-gutter;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: right;
        height: 36px;
    }

    .input:first-of-type {
        margin-left: 0;
    }
}

.controls__buttons__soundcloud {
    @include mq($until: tablet) {
        float: right;
    }
}

.controls__title {
    position: relative;
    z-index: 20;
    display: none;

    @include mq(tablet) {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 380px;
    }
}

.controls__tablet-label {
    @include mq($until: tablet) {
        display: none;
    }
}

.audio-controls {
    body[data-state="is-stopped"] & .audio-controls__pause {
        display: none;
    }

    body[data-state="is-playing"] & .audio-controls__play {
        display: none;
    }
}

.progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.progress-bar__current {
    background-color: rgba($c-white, .2);
    height: 100%;
    width: 0%;
    transition: width 0.2s linear;

    .is-light & {
        background-color: rgba($c-black, .2);
    }
}
