.controls {
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
    padding: $g-gutter;
    background-color: $c-black;
    color: $c-white;

    &.is-light {
        color: $c-black;

        .input {
            border-color: $c-black;
        }
    }
}

.controls__title {
    float: left;
}

.controls__buttons {
    float: right;
    text-align: right;
}

.audio-controls {
    body[data-state="is-stopped"] & .audio-controls__pause {
        display: none;
    }

    body[data-state="is-playing"] & .audio-controls__play {
        display: none;
    }
}
