header {
    padding: $g-gutter;
    overflow: auto;
    background-color: $c-white;

    @include mq(tablet) {
        position: fixed;
        z-index: 10;
        width: 50%;
        min-height: 100%;
    }

    .site-title {
        font-weight: bold;
        color: $c-black;
    }

    .description {
        color: $c-grey;
        float: left;

        @include mq($until: tablet) {
            width: 80%;
        }

        a {
            color: $c-black;
        }
    }

    .powered-by {
        float: right;

        @include mq(tablet) {
            position: absolute;
            right: 20px;
            bottom: 20px + $g-now-playing;
        }
    }
}
