.post-header {
    position: relative;
    z-index: 10;
    padding: $g-gutter;
    // overflow: auto;
    background-color: $c-white;

    @include mq(tablet) {
        position: fixed;
        width: 50%;
        min-height: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: -20px;
        right: -20px;
        bottom: -20px;
        height: 60px;
        background-color: inherit;
        transform: rotate(2deg);

        @include mq(tablet) {
            top: -20px;
            left: auto;
            right: -20px;
            bottom: -20px;
            height: auto;
            width: 60px;
        }
    }

    .post-header__block {
        @include mq($until: tablet) {
            margin-top: 40px;
        }

        @include mq(tablet) {
            position: absolute;
            top: 24%;
            left: 0;
            right: 0;
        }
    }

    .logo {
        text-align: center;
        color: $c-white;
    }

    .logo__monthly {
        font-size: 40px;
    }

    .logo__mix {
        font-size: 104px;
        letter-spacing: -7px;
    }

    .post-title {
        position: relative;
        z-index: 5;
        text-align: center;
        font-weight: bold;
        color: $c-white;
    }

    .is-light & {
        .logo,
        .post-title {
            color: $c-black;
        }
    }
}

.post-header__navigation {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: $g-now-playing;
    width: calc(100% - (#{$g-gutter * 2})); // there's probably a cleaner way of doing this

    .sign-up__container,
    .spotify__link {
        margin-right: $g-gutter;
    }

    .sign-up__container {
        flex-grow: 2;
    }

    .spotify--light,
    .soundcloud--light {
        display: none;
    }

    .is-light & {
        .spotify,
        .soundcloud {
            display: none;
        }

        .spotify--light,
        .soundcloud--light {
            display: block;
        }
    }
}
