.container {
    max-width: 900px;
    margin: 0 auto;
}

.home {
    padding-top: $g-now-playing;
    background-color: $c-light-grey;

    > div {
        position: relative;
        z-index: 4;
    }

    // Compensation for fixed navigation
    .home-title {
        padding-top: $g-now-playing + $g-gutter;
        margin-top: -($g-now-playing + $g-gutter);
    }
}

.header--home {
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    padding: 27px $g-gutter;
    background: transparent;
}

.home-title {
    font-weight: bold;
    width: 33%;
    display: inline-block;
}

.home-header {
    position: relative;
    z-index: 5;
    padding: 180px 0;
    padding: 36vh 0;
    text-align: center;
    margin-top: -$g-now-playing;

    .container {
        position: relative;
        z-index: 10;
    }
}

.home-header__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.home-playlists {
    margin-bottom: 300px;
    padding: $g-gutter * 2 0;
    background-color: $c-white;
}

.home-playlists__list {
    overflow: auto;
}

.home-playlists__time {
    color: $c-grey;
}

.home-playlists__item {
    width: 33%;
    float: left;
    text-align: center;
    padding: $g-gutter * 2 0;

    .stripe {
        width: 80%;
        margin: $g-gutter / 2 auto;
    }
}

.home-playlists__title {
    font-size: 32px;
    font-weight: bold;
}

.home-playlists__description {
    padding: 0 $g-gutter;
    color: $c-grey;
}

.home-recent {
    overflow: auto;
    padding: $g-gutter * 2 0;
    background-color: $c-white;

    .home-playlists__title {
        font-size: 48px;
        margin: 4px 0 0 -3px;
    }

    .stripe {
        width: 100%;
        margin: $g-gutter 0;
    }

    .home-playlists__description {
        padding-left: 0;
    }

    .input {
        border-color: $c-black;
        margin-left: 0;
        margin-top: $g-gutter / 2;

        svg {
            height: 1em;
            width: 1em;
            margin-right: .2em;
            margin-bottom: -.1em;
        }
    }
}

.home-recent__content {
    float: left;
    width: 66%;
}

.home-title--recent,
.home-title--subscribe,
.home-title--about {
    float: left;
}

.home-subscribe {
    overflow: auto;
    padding: $g-gutter * 2 0;
    background-color: $c-black;
    color: $c-white;

    .container {
        overflow: auto;
        padding-bottom: $g-gutter * 2;
    }

    .sign-up__input {
        border-color: $c-grey;
        color: $c-grey;
        background-color: transparent;
    }
    
    .sign-up__button {
        border-color: $c-white;
        background-color: transparent;
        color: $c-white;
    }
}

.home-subscribe__content {
    float: left;
    width: 66%;
}

.home-subscribe__description {
    padding: 6px 0 12px;
}

.home-about {
    padding-top: 0;
    overflow: auto;
    padding: $g-gutter * 2 0;
    background-color: $c-white;
}

.home-about__body {
    width: 66%;
    float: left;
    color: $c-grey;
    @include column-count(2);
    @include column-gap($g-gutter);

    strong {
        display: block;
        font-weight: bold;
        color: $c-black;
    }

    a {
        text-decoration: underline;
    }

    p {
        display: block;
        margin-bottom: 1em;
        @include column-break-inside(avoid)
    }
}

.home-credit {
    padding: $g-gutter 0 300px;
    color: $c-grey;
}

.home-canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
