@mixin home-shape($number, $rotation, $color, $top, $left) {
    svg:nth-of-type(#{$number}) {
        @include transform(rotate($rotation));
        fill: $color;
        top: $top;
        left: $left;
    }
}

.home-header {
    position: relative;
}

.home-shapes {
    position: absolute;
    top: -$g-now-playing;
    left: 0;
    right: 0;
    bottom: 0;
    will-change: transform;
    overflow: hidden;

    svg {
        position: absolute;
        width: 7%;
        height: 9%;
    }

    @include home-shape(1,  50deg,  $c-red,     9%,     4%);
    @include home-shape(2,  230deg, $c-purple,   5%,     20%);
    @include home-shape(3,  -26deg,  $c-blue,  7%,    39%);
    @include home-shape(4,  120deg, $c-green, -1%,     61%);
    @include home-shape(5,  50deg,  $c-blue,    15%,    72%);
    @include home-shape(6,  -110deg, $c-red,  3%,     93%);
    @include home-shape(7,  120deg, $c-blue,    27%,    13%);
    @include home-shape(8,  30deg,  $c-yellow,  25%,    31%);
    @include home-shape(9,  100deg, $c-purple,  22%,    56%);
    @include home-shape(10, -30deg, $c-yellow,  36%,    66%);
    @include home-shape(11, 65deg, $c-green,    28%,    82%);
    @include home-shape(12, 50deg,  $c-red,     80%,    25%);
    @include home-shape(13, 160deg, $c-yellow,  40%,    5%);
    @include home-shape(14, 200deg, $c-green,   42%,    23%);
    @include home-shape(15, 40deg,  $c-red,    33%,    45%);
    @include home-shape(16, -20deg,  $c-yellow,  48%,    90%);
    @include home-shape(17, 155deg, $c-purple,  75%,    96%);
    @include home-shape(18, 120deg, $c-purple,  60%,    12%);
    @include home-shape(19, 20deg,  $c-blue,    70%,    -1%);
    @include home-shape(20, 120deg, $c-green,   75%,    50%);
    @include home-shape(21, 30deg, $c-purple,   62%,    75%);
    @include home-shape(22, 200deg, $c-blue,     83%,    80%);
    @include home-shape(23, 300deg, $c-blue,    85%,    40%);
    @include home-shape(24, 160deg, $c-red,  80%,    60%);
}
