.container {
    max-width: 900px;
    margin: 0 auto;
}

.home {
    padding-top: $g-now-playing;

    // Compensation for fixed navigation
    .home-title {
        padding-top: $g-now-playing + $g-gutter;
        margin-top: -($g-now-playing + $g-gutter);
    }
}

.header--home {
    position: fixed;
    width: 100%;
    padding: 27px $g-gutter;
}

.home-title {
    font-weight: bold;
    width: 33%;
    display: inline-block;
}

.home-header {
    padding: 120px 0;
    text-align: center;
}

.home-header__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.home-playlists__list {
    overflow: auto;
}

.home-playlists__item {
    width: 33%;
    float: left;
    text-align: center;
    padding: $g-gutter * 2 0;
}

.home-playlists__title {
    font-weight: bold;
    margin-bottom: $g-gutter;
}

.home-playlists__description {
    padding: 0 $g-gutter;
}

.home-subscribe,
.home-about {
    overflow: auto;
    padding: $g-gutter * 2 0;
    background-color: $c-light-grey;
}

.home-title--subscribe,
.home-title--about {
    float: left;
}

.home-subscribe {
    .container {
        overflow: auto;
        padding-bottom: $g-gutter * 2;
        border-bottom: 1px solid darken($c-light-grey, 10%);
    }

    .sign-up__input {
        border-color: darken($c-light-grey, 10%);
    }
}

.home-subscribe__content {
    float: left;
    width: 66%;
}

.home-subscribe__description {
    padding: 6px 0;
    color: $c-grey;
}

.home-about {
    padding-top: 0;
}

.home-about__body {
    width: 66%;
    float: left;
    color: $c-grey;
    @include column-count(2);
    @include column-gap($g-gutter);

    strong {
        display: block;
        font-weight: bold;
        color: $c-black;
    }

    p {
        display: block;
        margin-bottom: 1em;
        @include column-break-inside(avoid)
    }
}

.home-credit {
    padding: $g-gutter 0;
    color: $c-grey;
}
