.logo {
    position: relative;
    color: $c-black;
    text-transform: uppercase;
    font-weight: bold;
    line-height: .9;
    padding: 10px 0 30px;
}

.logo__monthly {
    display: block;
    font-size: 40px;
    transform: rotate(6deg);
    margin-left: 12px;

    @include mq(tablet) {
        font-size: 54px;
    }
}

.logo__mix {
    font-size: 104px;
    letter-spacing: -7px;

    @include mq(tablet) {
        font-size: 140px;
        letter-spacing: -9px;
    }
}

@mixin logoBounce($letter, $rotation, $pos: 10px) {
    @keyframes bounce-#{$letter} {
        from {
            transform: translateY($pos) rotate($rotation);
        }

        to {
            transform: translateY($pos - 6px) rotate($rotation);
        }
    }

    & {
        transform: translateY($pos) rotate($rotation);
    }

    body[data-state="is-playing"] & {
        animation: bounce-#{$letter} .3s infinite ease alternate;
    }
}

.logo__m {
    display: inline-block;
    @include logoBounce('m', -7deg);
    animation-delay: -.2s !important;
}

.logo__i {
    display: inline-block;
    @include logoBounce('i', 8deg, 20px);
    animation-delay: -.1s !important;
}

.logo__x {
    display: inline-block;
    @include logoBounce('x', 4deg);
}
