.post {
    @include mq(tablet) {
        margin-left: 25%;
    }

    @include mq(wide) {
        margin-left: 20%;
    }
}

.post-header {
    overflow: auto;
    padding: $g-gutter;
    background-color: $c-black;
    color: $c-white;
}

.post-title {
    float: left;
    font-weight: bold;
}

.controls {
    width: 50%;
    float: right;
    text-align: right;
}
