.track__artist {
    color: $c-white;
    font-weight: bold;

    .is-light & {
        color: $c-black;
    }
}

.track__title {
    color: rgba(#000, .6);
    font-weight: bold;

    .is-very-dark & {
        color: rgba(#fff, .8);
    }
}
