body,
html {
    margin: 0;
    padding: 0;
    background-color: $c-black;
    font-family: 'Adelle Sans', sans-serif;
}

body {
    position: relative;
}

body,
html,
h1,
h2,
h3,
input {
    font-family: 'Adelle Sans', sans-serif;
    font-size: 24px;
    line-height: 30px;
}

body.is-archiving,
body.is-subscribing,
body.is-closed {
    overflow: hidden;
}
