body,
html {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: "adelle-sans", sans-serif;
    font-weight: bold;
}

body {
    position: relative;
    margin-bottom: 80px;

    @include mq(desktop) {
        margin-bottom: 0;
    }
}

body,
html,
h1,
h2,
h3,
input {
    font-family: "adelle-sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

body.is-archiving,
body.is-subscribing,
body.is-closed {
    @include mq(desktop) {
        overflow: hidden;
    }
}
