.button {
    padding: 4px 6px 0;
    margin: 0 4px 4px 0;
    display: inline-block;
    color: $c-white;
    border: 3px solid $c-white;
    text-decoration: none;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: rotate(3deg);
    }
}

.button--dark {
    color: $c-black;
    border-color: $c-black;
}