.header {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    width: 154px;

    @include mq(desktop) {
        position: fixed;
    }

    .button {
        display: inline-block;
        transition: opacity 0.4s ease-out;
        opacity: 0;
        pointer-events: none;
        display: none;

        @include mq(desktop) {
            display: inline-block;
        }

        .show-controls & {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.header__subscribe-button {
    margin-left: 30px;
}

.header__archive-button {
    margin-left: 10px;
}