.header {
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 20px;
    width: 154px;

    .button {
        display: inline-block;
    }
}

.header__subscribe-button {
    margin-left: 30px;
}

.header__archive-button {
    margin-left: 10px;
}