.page-fade {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
}
