.playlist {
    position: relative;
    z-index: 2;
    color: $c-black;
    width: 50%;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;

    .is-closed & {
        transform: translateX(-100%);
    }
}
