.playlist {
    position: relative;
    z-index: 2;
    font-family: sans-serif;
    color: $c-black;
    background-color: $c-yellow;
    width: 50%;
    padding: 20px;

    &:after {
        content: 'hide playlist';
        position: fixed;
        z-index: 20;
        margin: auto;
        transform: rotate(-90deg);
        width: 32px;
        background-color: #fff;
        color: #222;
        left: 0;
        right: -60px;
        top: 0;
        height: 20px;
        bottom: 0;
        width: 100vh;
        text-align: center;
        padding: 10px;
    }
}

.playlist__title {
    margin: 0;
}