.playlist {
    position: relative;
    z-index: 3;
    color: $c-black;
    width: 50%;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;

    .is-closed & {
        transform: translateX(-100%);
    }
}

.playlist__hide-button {
    position: fixed;
    left: -44px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
    transform: rotate(-90deg) translateY(50vw);
    transition: transform 0.2s ease-in-out;
    z-index: 3;

    .is-closed & {
        transform: rotate(-90deg) translateY(0vw);
    }
}
