.play-button {
    position: fixed;
    z-index: 10;
    left: 75vw;
    top: 50vh;
    margin: auto;
    transition: opacity 0.4s ease-out, transform 0.2s ease-out;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    display: none;
    transform: translateX(-50%) translateY(-50%);
    border: 0;
    padding: 8px 12px 10px 50px;
    font-size: 24px;
    @include randomBackground();

    @include mq(tablet) {
        display: block;
    }

    @include mq(desktop) {
        margin-bottom: 0;
    }

    .show-controls & {
        opacity: 1;
        pointer-events: auto;
    }

    .is-closed & {
        transform: translateX(calc(-50% + -25vw)) translateY(-50%);
    }
}

.play-button__icons {
    background-color: $c-black;
    display: block;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    left: 0;
}

.play-button__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    width: 24px;
    margin: auto;
    fill: $c-white;
    display: none;
}

.play-button__icon--visible {
    display: block;
}