.subscribe {
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 20px;
    @include randomBackground();
    transition: opacity 0.2s ease-out;

    @include mq(desktop) {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        height: 260px;
        width: 480px;
    }
}

.subscribe__copy {
    margin: 0;
    margin-bottom: 20px;
    color: $c-white;
}

.subscribe__title {
    display: block;
    color: $c-black;
}

.subscribe-form {
    @include mq(desktop) {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}

#mc_embed_signup_scroll {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.subscribe-form__input {
    -webkit-appearance: none;
    margin-right: 2px;
    border: 3px solid $c-black;
    padding: 5px 10px;
    border-radius: 0;
    color: rgba($c-black, .6);
    background-color: $c-white;
    font-weight: bold;
    min-width: 120px;

    &.is-focused {
        color: $c-black;
        outline: none;
    }
}

.subscribe-form__button {
    -webkit-appearance: none;
    color: $c-black;
    background-color: $c-white;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 4px;
}

.is-subscribing {
    .page-fade,
    .subscribe {
        opacity: 1;
        pointer-events: auto;
    }
}
