.tracks {
    margin: 0;
    padding: 10px;
    list-style: none;
    background-color: $c-white;
}

.track {
    position: relative;
    padding: 7px 10px;
    padding-left: 76px;
    border: 3px solid $c-black;
    margin: 10px 0;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    min-height: 50px;

    @for $i from 1 through 30 {
        &:nth-of-type(#{$i}) {
            margin-left: random(50) + px;
            margin-right: random(50) + px;

            @include mq(desktop) {
                margin-left: random(140) + px;
                margin-right: random(140) + px;
            }
        }
    }
}

@for $i from -3 through 3 {
    .track--#{$i} {
        &:hover {
            transform: rotate(#{$i / 2}deg);
        }
    }
}

.track__number {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    border-right: 3px solid $c-black;
    font-size: 54px;
    line-height: 62px;
    text-align: center;
}

.track__artist {
    margin: 0;
    color: $c-black;
}

.track__title {
    margin: 0;
    @include randomColor();
}

.track.is-playing {
    @include randomBorder();
    @include randomBackground();

    .track__title {
        color: $c-white;
    }

    .track__number {
        top: -3px;
        left: -3px;
        bottom: -3px;
        // line-height: 62px;
        background-color: $c-black;
        color: $c-white;
        border: 3px solid $c-black;
    }
}
