.video-wrapper {
    position: fixed;
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    z-index: 8;

    @include mq(tablet) {
        position: relative;
    }

    @include mq(desktop) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-top: 0;
        height: auto;
    }
}

.video-player {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    @include mq(desktop) {
        left: -9999px;
        right: -9999px;
        top: -9999px;
        bottom: -9999px;
        margin: auto;
        height: 100%;
        width: 177.77777778vh; /* 100 * 16 / 9 */
        min-width: 100%;
        min-height: 56.25vw; /* 100 * 9 / 16 */
    }
}

.video-mask {
    display: none;

    @include mq(desktop) {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        display: block;
    }
}

/*

.video-info {
    position: fixed;
    z-index: 2;
    bottom: 100px;
    left: 20px;
    color: $c-white;
}

.video-info__artist {
    display: block;
}
*/